<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loyalty_program>
            <general>
                <is_enabled>1</is_enabled>
                <apply_subtotal_changes_after_invoice>0</apply_subtotal_changes_after_invoice>
            </general>
        </loyalty_program>
    </default>
</config>
